  
/*--
Date: 11.22.2020
--*/

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  
  text-align: center;
}

#tabs__links.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.content {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.tabs>div:not(.tabs__links) {
  display: none;

}

.tabs>div:target {
  display: block;
}